# CODEOWNERS file for managing repository permissions
# Format: path-pattern @username @org/team-name

# Maintainers: Default owners for all files
* @juanmrad @vinaysrao1 @pawiecz @cassidyjames @julietshen @dom-notion

# Docs contributors
docs/ @roostorg/roosters
