.dockerignore
.env.example
.git
.gitattributes
.github/
.gitignore
.husky/
.nvmrc
.prettierignore
.prettierrc
.vscode/
coverage/
docker-compose.yaml
Dockerfile
otel-collector.yaml
coop.code-workspace
**/README.md
server/coverage
**/node_modules/
.pnpm-store/
server/reports
**/transpiled/
models-service
**/build
**/*.tsbuildinfo
